:root {
  --light: #fff;
  --dark: #000;

  --primary: rgb(255, 100, 80);
  --primary-light: #ffa19a; /* Lighter shade of primary */
  --primary-dark: #d63317; /* Darker shade of primary */

  --secondary: #bb837a;
  --secondary-light: #d7aba3; /* Lighter shade of secondary */
  --secondary-dark: #8f5b54; /* Darker shade of secondary */

  --tertiary: #ae8c3c;
  --tertiary-light: #d4be77; /* Lighter shade of tertiary */
  --tertiary-dark: #876e22; /* Darker shade of tertiary */

  --icon-primary: #f62d14;
  --icon-secondary: #c87d70;
  --icon-tertiary: #b48b00;
}

/* Header Styless */

.header {
  background-color: var(--light);
  box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
}

.header-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}
.header-layout h2 {
  margin: 0;
  color: var(--primary-dark);
}
.header-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
}
.nav-mobile {
  position: absolute;
  border-left: 0.5rem solid var(--primary-dark);
  height: 100vh;
  width: 100vw;
  left: 45em;
  top: 0;
  transition: left 0.35s ease-in-out;
  -webkit-transition: left 0.35s ease-in-out;
  -moz-transition: left 0.35s ease-in-out;
  -ms-transition: left 0.35s ease-in-out;
  -o-transition: left 0.35s ease-in-out;
}
.nav-mobile.active {
  left: 0em;
}
.background-color {
  background-color: rgba(128, 128, 128, 0.554);
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}
.nav-list-mobile {
  background-color: var(--light);
  position: relative;
  z-index: 2;
  width: 75%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
}
.nav-list-mobile img {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
.nav-list-mobile h2 {
  padding: 0 1rem;
  margin-bottom: 2rem;
}
.nav-list-mobile a {
  text-decoration: none;
  font-weight: bold;
  padding: 1.5rem 1.5rem;
}
.nav-list-mobile a:not(:last-child) {
  border-bottom: 0.1rem solid var(--icon-secondary);
}
.nav-list-mobile li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list-mobile p {
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 45em) {
  .header-button,
  .nav-mobile {
    display: none;
  }
}

/* Tablet and Desktop Sizes */

.nav {
  display: none;
  padding: 0;
  margin: 0;
}
.nav-list {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-list p {
  margin: 0;
  padding: 0;
}
.nav-list a {
  text-decoration: none;
  color: var(--primary-dark);
  padding: 1rem;
}
.nav-list a:hover,
.nav-list a:focus {
  color: var(--light);
  background-color: var(--primary);
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
@media only screen and (min-width: 45em) {
  .nav {
    display: initial;
  }
}

/* Header Styless */

/* Main Styles */
.banner {
  display: flex;
  align-items: center;
  padding-top: 3rem;
  background-color: var(--icon-tertiary);
  height: 80vh;
}
.banner-layout {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  color: var(--light);
}
.banner-text{
  animation: textLocation 1s ease-in ;
  -webkit-animation: textLocation 1s ease-in ;
}
.banner-img img {
  display: none;
}
@keyframes textLocation {
  0% {
    transform: translateX(-1rem);
    color: transparent;
    -webkit-transform: translateX(-1rem);
    -moz-transform: translateX(-1rem);
    -ms-transform: translateX(-1rem);
    -o-transform: translateX(-1rem);
}
  100% {
    transform: translateX(0rem);
    color: var(--light);
    -webkit-transform: translateX(0rem);
    -moz-transform: translateX(0rem);
    -ms-transform: translateX(0rem);
    -o-transform: translateX(0rem);
}
  
}

@keyframes imgLocation {
  0% {
    transform: translateX(3rem);
    opacity: 0;
    -webkit-transform: translateX(3rem);
    -moz-transform: translateX(3rem);
    -ms-transform: translateX(3rem);
    -o-transform: translateX(3rem);
}
  100% {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
  
}
@media only screen and (min-width: 45em) {
  .banner {
  height: 70vh;
  }
  .banner-layout{
    gap: 1rem;
    grid-template-columns: 2fr 1fr;
  }
  .banner-img img{
    display: initial;
    object-fit: cover;
    animation: imgLocation 1s ease-in;
  }
}
/* Main Styles */
